<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/vinarna</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password"></property>
        <property name = "hibernate.show_sql">true</property>
        <property name = "hibernate.hbm2ddl.auto">update</property>

        <mapping class="bg.tu_varna.sit.vinarna.data.entities.User"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.Role"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.Bottle"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.BottleType"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.GrapeCategory"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.GrapeSort"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.GrapeStorage"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.WineRecipe"/>
        <mapping class="bg.tu_varna.sit.vinarna.data.entities.WineType"/>

    </session-factory>
</hibernate-configuration>