.Login {
    -fx-background-image: url('../media/bg.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 100%;
}
.mainPanel{
    -fx-background-color: rgba(220, 214, 178, 0.6);

    -fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-radius: 50;

    -fx-border-radius: 50;


    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.mainPanelWhite {
    -fx-background-color: rgba(255, 255, 255, 0.5);

    -fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-border-radius: 0 50 50 0;
    -fx-background-radius: 0 50 50 0;
}

.text-field {
    -fx-border-radius: 13 13 13 13;
    -fx-background-radius: 13 13 13 13;
    -fx-font-size: 15;
}

.text-field:focused {
    -fx-background-color: #5d5c55, #FFFFFF;
    -fx-effect: dropshadow(gaussian, #676664, 10, 0, 0, 0);
}

.button {
    -fx-border-radius: 13 13 13 13;
    -fx-background-radius: 13 13 13 13;
    -fx-font-size: 15;
    -fx-cursor: hand;
}

.errorColor {
    -fx-text-fill: rgb(229, 229, 229);
    -fx-background-color: #8c0b31;
}

.errorColor:hover {
    -fx-background-color: #5e061f;
}

.errorColor:pressed {
    -fx-effect: dropshadow(gaussian, #4b4b4b, 20, 0, 0, 0);
}

.label {
    -fx-text-fill: rgb(66, 65, 54);
    -fx-font-size: 15;
}

.glyph-icon{
    -fx-text-fill: rgb(66, 65, 54);
    -fx-fill: rgb(66, 65, 54);
}

.alert {
    -fx-border-radius: 13 13 13 13;
    -fx-background-radius: 13 13 13 13;
    -fx-background-color: #a6a6a6;
}

.alert.error {
    -fx-background-color: rgba(222, 95, 129, 0.84);
    -fx-border-color: rgba(175, 76, 104, 0.84);
}

.alert.error > .label {
    -fx-text-fill: rgb(255, 233, 233);
}

.alert.success {
    -fx-background-color: rgba(142, 192, 102, 0.84);
    -fx-border-color: rgba(129, 171, 90, 0.84);
}

.alert.success > .label {
    -fx-text-fill: rgb(255, 233, 233);
}
